# vim: ft=toml
# Work in progress, those values are not implemented in the app.

[Display]
# List of display names to enable rotations.
# If commented out or list is empty, all displays will rotate.
enable = [ "eDP" ]
# Ignore list, useful when
#ignore = []

[Input]
# Check list with `autorotate list` command.

# List of input names to enable rotations. All if commented out or empty.
# enable = []
# Enable all devices  with exception of names in ignored.
ignore = [
    "Razer Razer Basilisk X HyperSpeed", # mouse
    "Virtual core XTEST pointer", # barrier/synergy
]

[Keyboard]
# Keyboard names to controll
name = ["AT Translated Set 2 keyboard"]
# Determine when to disable keyboard
landscape=true
landscapeInvert=false
portrait=false
portraitInvert=false
