name: release

on:
  push:
    tags:
      - '*'

jobs:
   build_release:
    name: build_release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: build
        run: |
          sudo apt-get install -y libxi-dev
          mkdir bin
          go get -t ./...
          go build -o bin
      - name: version
        run: echo "::set-output name=version::$(./bin/autorotate version --short)"
        id: version

      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.version.outputs.version }}
          tag_name: ${{ github.ref }}
          # body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: upload linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/autorotate
          asset_name: autorotate.tar.gz
          asset_content_type: application/gzip
